<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/addComplainRecord.css}">
    <title>添加投诉记录</title>
</head>
<body>
<body>
<header>噪声申诉</header>
<div class="add-box">
    <form th:action="@{complainRecord/addComplainRecord}" method="post">
        <table class="info-box">
            <tr>
                <td>您的楼号:</td>
                <td><input type="text" id="comBuildingNumber" placeholder="请输入您的房号" name="comBuildingNumber"></td>
            </tr>
            <tr>
                <td>您的房号:</td>
                <td><input type="text" id="comHouseNumber" placeholder="请输入您的房号" name="comHouseNumber"></td>
            </tr>
            <tr>
                <td>投诉内容:</td>
                <td><textarea  id="content" placeholder="投诉内容" name="content" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>投诉楼号:</td>
                <td><input type="text" id="beComBuildingNumber" placeholder="请输入您想投诉的楼号" name="beComBuildingNumber"></td>
            </tr>
            <tr>
                <td>投诉房号(可为空):</td>
                <td><input type="text" id="beComHouseNumber" placeholder="请输入您想投诉的房号" name="beComHouseNumber"></td>
            </tr>
        </table>
        <div class="button-box">
            <input type="submit" class="confirm" value="确认添加" />
        </div>
    </form>
</div>
</body>
</body>
</html>