<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/addUser.css}">
    <title>添加用户</title>
</head>
<body>
<header>添加用户</header>
<div class="add-box">
    <form th:action="@{user/addUser}" method="post">
        <table class="info-box">
            <tr>
                <td>用户名:</td>
                <td><input type="text" id="username" placeholder="请输入用户名" name="username"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="text" id="password" placeholder="请输入密码" name="password"></td>
            </tr>
            <tr>
                <td>联系方式:</td>
                <td><input type="text" id="mobile" placeholder="请输入联系方式" name="mobile"></td>
            </tr>
        </table>
        <div class="button-box">
            <input type="submit" class="confirm" value="确认添加" />
        </div>
    </form>
</div>
</body>
</html>