<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/adminPage.css}">
    <title>管理员界面</title>
</head>
<body>
<header>监管者主页</header>
<div class="decoration">
    <p>深院静，小庭空，断续寒砧断续风</p>
</div>
<table class="left">
    <tr>
        <td style="color: aqua">基本信息:</td>
    </tr>
    <tr>
        <td>监管者:</td>
        <td th:text="${session.admin.adminName}"></td>
    </tr>
    <tr>
        <td>您的联系方式:</td>
        <td th:text="${session.admin.mobile}"></td>
    </tr>
    <tr>
        <td>注册时间:</td>
        <td th:text="${#dates.format(session.admin.gmtCreated,'yyyy-MM-dd')}">2021-08-12</td>
    </tr>
    <tr>
        <td>上次更改时间:</td>
        <td th:text="${#dates.format(session.admin.gmtModified,'yyyy-MM-dd')}">2021-08-12</td>
    </tr>
</table>
<form class="middle-box">
    <table>
        <tr>
            <td style="color: brown; font-weight: bold;">监管者操作区</td>
        </tr>
        <tr>
            <td>用户管理</td>
        </tr>
        <tr>
            <td>
                <input type="button" value="查询所有" onclick="location.href='/web/user/findAllUser'"/>
            </td>
            <td><input type="button" value="手机查询" onclick="location.href='/web/inputMobile'"/></td>
            <td><input type="button" value="关键字查询" onclick="location.href='/web/inputUserKeyWord'"/></td>
        </tr>
        <tr>
            <td>投诉管理</td>
        </tr>
        <tr>
            <td><input type="button" value="查询所有" onclick="location.href='/web/complainRecord/findAllComplainRecord'"/></td>
            <td><input type="button" value="被投诉楼号查询" onclick="location.href='/web/inputBeComBuildingNumber'"/></td>
            <td><input type="button" value="被投诉楼号房号查询" onclick="location.href='/web/inputBeComBuildingNumberAndHouseNumber'"/></td>
            <td><input type="button" value="关键字查询" onclick="location.href='/web/inputComKeyWord'"/></td>
        </tr>
        <tr>
            <td>更多功能开发中</td>
        </tr>
    </table>
</form>
</body>
</html>