<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/adminMobileUpdate.css}" />
    <title>Title</title>
</head>
<body>
<header>修改用户</header>
<div class="update-box">
    <form th:action="@{/admin/update}" method="post">
        <table class="info-box">
            <tr>
                <td>ID:</td>
                <td>
                    <span th:value="${user.id}"></span>
                    <input type="hidden" name="id" th:value="${user.id}">
                </td>
            </tr>
            <tr>
                <td>用户名:</td>
                <td><input type="text" id="username" placeholder="请输入用户名" name="username" th:value="${user.username}"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="text" id="password" placeholder="请输入密码" name="password" th:value="${user.password}"></td>
            </tr>
            <tr>
                <td>联系方式:</td>
                <td><input type="text" id="mobile" placeholder="请输入联系方式" name="mobile" th:value="${user.mobile}"></td>
            </tr>
        </table>
        <div class="button-box">
            <input type="submit" class="confirm" value="确认修改" />
        </div>
    </form>
</div>
</body>
</html>