<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/adminLogin.css}">
    <title>管理员登录</title>
</head>
<body>
<header>万籁此都寂,但余钟磬音</header>
<p class="title">欢迎回来,监管者</p>
<div class="login-box">
    <form class="formTable" th:action="@{admin/login}" method="post">
        <input type="text" id="userName"  placeholder="请输入用户名" name="adminName"/>
        <input type="password" id="password" placeholder="请输入密码" name="password" />
        <button type="submit">管理员登录</button>
    </form>
    <button class="button" onclick="location.href='/web/adminRegister'">管理员注册</button>

</div>
</body>
</html>