<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/ComplainRecordDetail.css}">
    <title>Title</title>
</head>
<body>
<header>投诉详情</header>
<ul>
    <li>
        <div>ID:</div>
        <div th:text="${complainRecord.id}"></div>
    </li>
    <li>
        <div>投诉者楼号:</div>
        <div th:text="${complainRecord.comBuildingNumber}">1</div>
    </li>
    <li>
        <div>投诉者房号:</div>
        <div th:text="${complainRecord.comHouseNumber}">101</div>
    </li>
    <li>
        <div>投诉内容:</div>
        <div th:text="${complainRecord.content}"></div>
    </li>
    <li>
        <div>被投诉楼号:</div>
        <div th:text="${complainRecord.beComBuildingNumber}">1</div>
    </li>
    <li>
        <div>被投诉房号:</div>
        <div th:text="${complainRecord.beComHouseNumber}">102</div>
    </li>
    <li>
        <div>是否解决:</div>
        <div th:text="${complainRecord.solve}">是</div>
    </li>
    <li>
        <div>创建时间:</div>
        <div th:text="${#dates.format(complainRecord.gmtCreated,'yyyy-MM-dd')}">2021-8-13</div>
    </li>
    <li>
        <div>上次修改时间:</div>
        <div th:text="${#dates.format(complainRecord.gmtModified ,'yyyy-MM-dd')}">2021-8-14</div>
    </li>
</ul>
</body>
</html>