<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/contact.css}">
    <title>联系方式</title>
</head>
<body>
<ul>
    <li>物业中心:xxxxxxxxxxx(电话座机) 邮箱:xxxxxxxx@email</li>
    <li>物业负责人: X先生 xxxxxxxxxxx(电话)</li>
    <li>噪声讨论群:xxxxxxxxxx(qq) xxxxxxxxx(微信)</li>
</ul>
</body>
</html>