<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/findUserModel.css}">
    <title>Title</title>
</head>
<body>
<input type="button" class="back" value="返回首页" onclick="location.href='/web/adminPage'" />
<header>绑定手机查询</header>
<table class="info">
    <tr>
        <td>
            用户名
        </td>
        <td>
            密码
        </td>
        <td>
            联系方式
        </td>
        <td>
            创建时间
        </td>
        <td>
            上次修改
        </td>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.mobile}"></td>
        <td th:text="${#dates.format(user.gmtCreated,'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(user.gmtModified,'yyyy-MM-dd')}"></td>
        <td>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/admin/delete(id=${user.id})}">删除</a>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/admin/find(id=${user.id})}">修改</a>
        </td>
    </tr>
</table>
</body>
</html>