<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/findAllComplainRecord.css}" />
    <title>所有投诉记录</title>
</head>
<input type="button" class="back" value="返回首页" onclick="location.href='/web/adminPage'" />
<header>所有投诉记录</header>
<table class="info">
    <tr>
        <td>
            投诉者楼号
        </td>
        <td>
            投诉者房号
        </td>
        <td>
            投诉内容
        </td>
        <td>
            被投诉楼号
        </td>
        <td>
            被投诉房号
        </td>
        <td>
            是否解决
        </td>
        <td>
            创建时间
        </td>
        <td>
            修改时间
        </td>
    </tr>
    <tr th:each="complainRecord:${complainRecords}">
        <td th:text="${complainRecord.comBuildingNumber}"></td>
        <td th:text="${complainRecord.comHouseNumber}"></td>
        <td><p class="content" th:text="${complainRecord.content}"></p></td>
        <td th:text="${complainRecord.beComBuildingNumber}"></td>
        <td th:text="${complainRecord.beComHouseNumber}"></td>
        <td th:text="${complainRecord.solve}"></td>
        <td th:text="${#dates.format(complainRecord.gmtCreated,'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(complainRecord.gmtModified ,'yyyy-MM-dd')}"></td>
        <td>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/complainRecord/findDetail(id=${complainRecord.id})}">详细</a>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/complainRecord/delete(id=${complainRecord.id})}">删除</a>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/complainRecord/find(id=${complainRecord.id})}">修改</a>
        </td>
    </tr>
</table>
</body>
</html>