<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/inputBuildingAndHouse.css}">
    <title>Title</title>
</head>
<body>
<header>请输入楼号和房间号</header>
<div class="input-box">
    <form th:action="@{/complainRecord/findOwnHistory}" method="post">
        <input class="blank" type="text" id="comBuildingNumber" name="comBuildingNumber" placeholder="请输入您的楼号"/>
        <input class="blank" type="text" id="comHouseNumber" name="comHouseNumber" placeholder="请输入您的房间号"/>
        <input class="sub" type="submit" value="确认">
    </form>
</div>
</body>
</html>