<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/inputMobile.css}">
    <title>Title</title>
</head>
<body>
<header>请输入楼号和房间号</header>
<div class="input-box">
    <form th:action="@{/complainRecord/findComRecordByBeComBuildingNumberAndHouseNumber}" method="post">
        <input class="blank" type="text" id="beComBuildingNumber" name="beComBuildingNumber" placeholder="请输入被投诉楼号"/>
        <input class="blank" type="text" id="beComHouseNumber" name="beComHouseNumber" placeholder="请输入被投诉房间号"/>
        <input class="sub" type="submit" value="确认">
    </form>
</div>
</body>
</html>