<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/inputMobile.css}">
    <title>Title</title>
</head>
<body>
<header>请输入手机号</header>
<div class="input-box">
    <form th:action="@{/complainRecord/findComRecordByKeyWord}" method="post">
        <input class="blank" type="text" id="keyWord" name="keyWord" placeholder="请输入投诉关键词"/>
        <input class="sub" type="submit" value="确定">
    </form>
</div>
</body>
</html>