<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/inputMobile.css}">
    <title>Title</title>
</head>
<body>
<header>手机号查询用户</header>
<div class="input-box">
    <form th:action="@{/admin/findUserByMobile}" method="post">
        <input class="blank" type="text" id="mobile" name="mobile" placeholder="请输入绑定的的联系方式"/>
        <input class="sub" type="submit" value="确认">
    </form>
</div>
</body>
</html>