<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/inputMobile.css}">
    <title>输入关键词</title>
</head>
<body>
<header>请输入用户名中关键词</header>
<div class="input-box">
    <form th:action="@{/admin/findUserByKeyWord}" method="post">
        <input class="blank" type="text" id="userNameKeyWord" name="keyWord" placeholder="请输入用户名中的关键词"/>
        <input class="sub" type="submit" value="提交">
    </form>
</div>
</body>
</html>