<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/login.css}">
</head>
<title>登录界面</title>
</head>
<body>
<header>人闲桂花落，夜静春山空</header>
<p class="title">愿喧嚣之中，仍有安宁萦绕</p>
<div class="login-box">
    <form class="formTable" th:action="@{user/login}" method="post">
        <input type="text" id="userName"  placeholder="请输入用户名" name="username"/>
        <input type="password" id="password" placeholder="请输入密码" name="password" />
        <button type="submit">登录</button>
    </form>
    <button class="button" onclick="location.href='/web/toRegister'">没有账号？注册一个</button>
    <button class="admin"  onclick="location.href='/web/adminLogin'">管理员登录</button>
</div>
<div id="hide" th:text="${#messages}"></div>
<script type="text/javascript" src="../../static/JavaScript/login.js"></script>
</body>
</html>