<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/register.css}">
</head>
<title>注册界面</title>
</head>
<body>
<header>鸟宿池边树,僧敲月下门</header>
<p class="title">加入我们,每个人都值得安宁</p>
<div class="login-box">
    <form class="formTable" th:action="@{user/register}" method="post">
        <input type="text" id="userName" autocomplete="off" placeholder="请输入用户名" name="username" />
        <input type="password" id="password" autocomplete="off" placeholder="请输入密码" name="password"/>
        <input type="text" id="mobile" placeholder="请输入手机号码" name="mobile">
        <button type="submit">注册</button>
    </form>
</div>
</body>
</html>