<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/updateComplainRecord.css}" />
    <title>修改投诉</title>
</head>
<body>
<header>修改投诉信息</header>
<div class="add-box">
    <form th:action="@{/complainRecord/update}" method="post">
        <table class="info-box">
            <tr>
                <td>
                    <span th:value="${complainRecord.id}"></span>
                    <input type="hidden" name="id" th:value="${complainRecord.id}">
                </td>
            </tr>
            <tr>
                <td>您的楼号:</td>
                <td><input type="text" id="comBuildingNumber" placeholder="请输入您的房号" name="comBuildingNumber"
                           th:value="${complainRecord.comBuildingNumber}"></td>
            </tr>
            <tr>
                <td>您的房号:</td>
                <td><input type="text" id="comHouseNumber" placeholder="请输入您的房号" name="comHouseNumber"
                           th:value="${complainRecord.comHouseNumber}"></td>
            </tr>
            <tr>
                <td>投诉内容:</td>
                <td><textarea  style="width: 300px;" id="content" placeholder="投诉内容" th:text="${complainRecord.content}" name="content" rows="4" cols="50">

                </textarea></td>
            </tr>
            <tr>
                <td>投诉楼号:</td>
                <td><input type="text" id="beComBuildingNumber" placeholder="请输入您想投诉的楼号" name="beComBuildingNumber"
                           th:value="${complainRecord.comBuildingNumber}"></td>
            </tr>
            <tr>
                <td>投诉房号(可为空):</td>
                <td><input type="text" id="beComHouseNumber" placeholder="请输入您想投诉的房号" name="beComHouseNumber"
                           th:value="${complainRecord.comHouseNumber}"></td>
            </tr>
            <tr>
                <td>是否解决:</td>
                <td>
                    <select style="width: 70px; height: 25px; line-height: 35px;" id="solve" name="solve" th:value="${complainRecord.solve}">
                        <option value="否">否</option>
                        <option value="是">是</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="button-box">
            <input type="submit" class="confirm" value="确认修改" />
        </div>
    </form>
</div>
</body>
</html>