<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/userPage.css}">
    <title>用户主页</title>
</head>
<body>
<header>
    <ul>
        <li>欢迎用户:<span th:text="${session.user.username}">zsr</span></li>
        <li><a>个人主页</a></li>
    </ul>
</header>
<div class="middle">
    <div class="introduction">忙碌一天后，疲惫的身躯需要充足的休息，负荷的思维需要轻松的环境。你我都拥有享受安宁的权力，没有谁可以干预。
        我们在此一起，为了哪怕是片刻的安宁而努力。如果你有成功解决邻里噪声的经验，欢迎提供来帮助更多的人们。
    </div>
</div>
<table class="main">
    <tr>
        <td class="left">
            <table class="left-box">
                <tr>
                    <td><p style="color: aqua;">基本信息</p></td>
                </tr>
                <tr>
                    <td>用户名:</td>
                    <td th:text="${session.user.username}">zsr</td>
                </tr>
                <tr>
                    <td>您的联系方式:</td>
                    <td th:text="${session.user.mobile}">111111111111</td>
                </tr>
                <tr>
                    <td>注册时间:</td>
                    <td th:text="${#dates.format(session.user.gmtCreated,'yyyy-MM-dd')}">2021-08-18</td>
                </tr>
                <tr>
                    <td>上次修改时间:</td>
                    <td th:text="${#dates.format(session.user.gmtModified,'yyyy-MM-dd')}">2021-08-18</td>
                </tr>
            </table>
        </td>
        <td class="right">
            <table class="service">
                <tr>
                    <td><input type="button" value="噪声申诉" onclick="location.href='/web/addComplainRecord'"></td>
                    <td><input type="button" value="申诉查询" onclick="location.href='/web/inputBuildingAndHouse'"></td>
                </tr>
                <tr>
                    <td><input type="button" value="经验查询"></td>
                    <td><input type="button" value="联系物业" onclick="location.href='/web/contact'"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div class="bottom">
    世卫组织已经给噪音污染“定罪”,
    噪音污染已经成为继空气污染之后,
    影响人体健康的又一个环境因素,
    而且过度地暴露在噪音污染中,
    还会致人失眠、神经衰弱。</div>
</body>
</html>