* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background: url("../images/login_background.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    margin-bottom: 150px;
    padding: 10px;
}

.title {
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    color: aquamarine;
    font-family: 华文行楷;
}

.login-box {
    position: relative;
    width: 400px;
    height: 180px;
    margin: 0 auto;
}

.login-box a {
    display: block;
    text-decoration: none;
    color: cornflowerblue;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.formTable {
    width: 400px;
    margin: 0 auto;
}

.formTable input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-left: 5px;
    opacity: 0.5;
}

.formTable input::placeholder{
    color: darkgrey;
    font-size: 20px;
    line-height: 40px;

}

.formTable button {
    display: block;
    width: 408px;
    height: 30px;
    margin-top: 5px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    background-color: coral;
    border: 0px;
}

.button{
    font-size: 10px;
    color: deepskyblue;
    padding: 2px;
    border: 0px;
    border-radius: 3px;
    background-color: darkslateblue;
}