*{
    padding: 0;
    margin: 0;
}

body {
    background: url("../images/adminPageBackground.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: bisque;
}

.decoration {
    width: 100%;
    text-align: left;
    padding-left: 20px ;
    margin-bottom: 50px;
}

.decoration p{
    font-size: 20px;
    font-family: 华文行楷;
    color: azure;
}

.left{
    width: 300px;
    position: fixed;
    left: 10px;
    top: 100px;
    border-top: 1px #cccccc solid;
}

.left tr {
    width: 300px;
}

.left tr td {
    width: 150px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 5px;
    color: azure;
}

.middle-box  {
    width: 600px;
    margin: 0 auto;
}

.middle-box table {
    width: 100%;
}

.middle-box table tr {
    width: 100%;
    display: table;
    justify-content: space-between;
}

.middle-box table tr td {
    color: azure;
    width: 100px;
    font-size: 20px;
    text-align: center;
}

.middle-box table tr td input {
    width: 100%;
    height: 30px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    opacity: 0.5;
}