* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

body {
    background: url("../images/detail.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    font-size: 20px;
    color: lightskyblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    width: 1000px;
    margin: 0 auto;
}

ul li {
    display: flex;
    width: 1000px;
}

ul li div{
    width: 500px;
    font-size: 20px;
    color: azure;
    padding: 10px;
    word-wrap: anywhere;
    border: 1px aqua solid;
}
