* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: url("../images/contact.png") no-repeat;
    background-size: cover;
    padding-top: 50px;
}

ul {
    width: 800px;
    margin: 0 auto;

}

ul li {
    font-size: 40px;
    color: azure;
    font-weight: bold;

}