* {
    margin: 0px;
    padding: 0px;
}

body{
    background: url("../images/findUserByMobile.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 320px;
    color: #cccccc;
    opacity: 1;
}

.back {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    line-height: 50px;
    background-color: darkslateblue;

}

.info {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px aqua solid;
}


.info tr td {
    color: azure;
    width: 150px;
    text-align: center;
    border-top: 1px aqua solid;
    border-right: 1px aqua solid;
}

.addUser{
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    background-color: cadetblue;
    border-radius: 1px;
}