* {
    padding:0;
    margin: 0;
}

body {
    background: url("../images/findComplainRecordModelBackground.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    color: aqua;
    opacity: 1;
}

.back {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    line-height: 50px;
    background-color: darkslateblue;

}

.info {
    width: 1090px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px aqua solid;
}

.info tr td {
    color: azure;
    width: 110px;
    text-align: center;
    border: 1px aqua solid;
}

.content {
    display: block;
    color: aqua;
    width: 200px;
    overflow: hidden;
    white-space:nowrap;
    display: -webkit-box;
}