*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../images/inputBuildingAndHouseBackground.png") no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 20px;
    margin-top: 220px;
    font-weight: bold;

}

.input-box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 3px aqua solid;
    border-radius: 5px;
    padding: 10px;
}

.input-box form {
    width: 100%;
}

.blank {
    width: 300px;
    height: 30px;
    padding-left: 5px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.blank::placeholder{
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.sub {
    display: block;
    margin: 0 auto;
    background-color: darkorange;
    text-align: center;
    font-size: 15px;
    width: 300px;
    height: 30px;
}

.sub::placeholder {
    font-size: 15px;
    color: black;
    border: 0px;
}