*{
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/updateComplainRecord.png") no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.add-box{
    width: 800px;
    margin: 0 auto;
    border: 3px aqua solid;
    border-radius: 5px;
}

.add-box form {
    width: 800px;
}

.info-box{
    width: 100%;
    padding: 5px;
}

.info-box tr {
    height: 35px;
}

.info-box tr td {
    height: 35px;
    color: azure;
    font-size: 15px;
}

.info-box tr td:nth-child(1){
    width: 200px;
    height: 35px;
    text-align: left;
    font-size: 20px;
    line-height: 35px;
    padding-left: 100px;
}

.info-box tr td input {
    width: 300px;
    height: 30px;
    padding-left: 5px;
    opacity: 0.5;
}

.info-box tr td textarea{
    width: 200px;
    padding-left: 5px;
    opacity: 0.5;
}

.info-box tr td input::placeholder{
    color: darkgrey;
    font-size: 20px;
    line-height: 35px;
}

.button-box {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.button-box input{
    width: 180px;
    height: 35px;
    color: black;
    background-color: bisque;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border: 0;
}