* {
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

body {
    width: 100%;
    background: url("../images/userPage.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    padding-top: 5px;
}

header ul {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}


header ul li {
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    color: darkgrey;
}

header ul li img {
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

.middle{
    padding: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    margin-bottom: 20px;
}

.introduction {
    width: 1000px;
    color: azure;
    font-size: 20px;
    margin-right: 600px;
}

.main{
    width: 100%;
}

.main tr {
    padding-top: 0;
}

.left{
    width: 300px;
    padding-top: 0;
    position: relative;
}

.left-box {
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-top: 1px #cccccc solid;
}


.left-box tr {
    width: 100%;
}

.left-box tr td {
    width: 50%;
    height: 30px;
    line-height: 30px;
    color: azure;
    font-size: 20px;
}

.right {
    height: 400px;
}

.service{
    width: 800px;
    margin:  0 auto;
}

.service tr td {
    width: 400px;
    height: 150px;
    border: 1px aqua solid;
    border-radius: 5px;
}

.service tr td input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: azure;
    background-color: darkslateblue;
    opacity: 0.5;
}


.bottom {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: deepskyblue;
    margin-top: 20px;
}